/Tesi.bcf
/Tesi.run.xml
/Tesi-frn.tex
/Tesi.pdf
/Sigillo.pdf
/tesi.pdf
/Tesi-blx.bib
/Tesi.lop
/Rapporto-tecnico.loa
/Rapporto-tecnico.lop
/Rapporto-tecnico.pdf
/Rapporto-tecnico.run.xml
/Rapporto-tecnico-blx.bib
/Tesi.loa
